<!--参考: https://github.com/k2works/sinatra_rakuten_api-->
<head>
<style type="text/css">
<!--
  .starter-template{
  width: 100%;
  border-collapse: collapse;
  }
  .starter-template th{
  width: 25%;
  padding: 6px;
  text-align: left;
  vertical-align: top;
  color: #333;
  background-color: #eee;
  border: 1px solid #b9b9b9;
  }
  .starter-template td{
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  }
-->
</style>
</head>
<div class="starter-template">
  <h1>書籍ランキングトップ 10</h1>
    タイトル：<input type="text"><input type="button" value="検索"><br>
    <table class="table table-hover">
      <tr>
        <th>商品名</th>
      </tr>
      <% @rankings.each do |ranking| %>
      <tr>
        <td><%= ranking.title %></td>
      </tr>
      <% end %>
    </table>
</div>
